*, body {
  font-family: 'Ubuntu', sans-serif;
  max-width: 1300px;
}

h1 {
  display: inline-block;
  margin: auto;
}

label {
  margin-right: 15px;
  width: 20%;
}

.center {
  text-align: center;
  background-color: #2122294f;
}

.form-div {
  border: solid #eeeeee;
  padding: 15px 20px;
  margin: 20px auto 50px;
  width: 30%;
}
@media only screen and (max-width: 976px) {
  .form-div {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .form-div {
    width: 85%;
  }
}
.table-div {
  border: solid #eeeeee;
  padding: 15px 20px;
  margin: 20px auto 50px;
  width: 70%;
}
@media only screen and (max-width: 976px) {
  .table-div {
    width: 100%;
  }
}
.c-table{
  border: solid #eeeeee;
  padding: 15px 20px;
  margin: 20px auto 50px;
  width: 30%;
}
@media only screen and (max-width: 1005px) {
  .c-table {
    width: 50%;
  }
}
@media only screen and (max-width: 680px) {
  .c-table {
    width: 85%;
  }
}

.th{
  background-color: #2122290d;
  padding: 15px 0.3rem;
  border-radius: 5%;
  line-height: 1.5;
}

.link, .link:hover {
  text-decoration: none;
  padding: 8px;
  border-radius: 7%;
}
.link {
  color: #007bff;
  background-color: #f8f9fa;
}
.link:hover {
  color: #f8f9fa;
  background-color: #007bff;
}

.status{
  border-radius: 6%;
  padding: 8px 20px;
  text-align:center;
}

.actionForm{
  display: none;
}
.actionForm input[type=text]{
  width: 80px;
  margin-left: 1px;
  padding-left: 6px;
}
.actionForm input[type=text]::-webkit-input-placeholder{
  font-size: 10px;
}

.actionForm input[type=submit]{
  width: 53px;
  height: 37px;
  font-size: 12px;
  padding-left: 6px;
  font-weight: 600;
  letter-spacing: 0.5px;
}